        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        /* página index */

        body {
            background: url('../img/img5.jpg') no-repeat;
            background-size: cover;


        }

        header {
            background-color: rgb(100, 100, 100);
            width: 100vw;
            height: 50px;
            display: flex;
            align-items: center;
            justify-items: center;
            box-shadow: 0px 0px 20px rgba(0, 255, 238, 0.862);
        }

        .titulo {
            width: 100%;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 50px;
        }

        .container {
            height: 100vh;
            margin: 0px auto;
            width: 100vw;
            padding-top: 40px;
            text-align: center;
        }

        .tarefa {
            background-color: rgba(92, 255, 255, 0.353);
            color: red;
            padding: 8px 120px;
            border-radius: 8px;
            outline: none;
            border: none;
        }

        .tarefa::placeholder {
            color: #9e9e9e;
        }

        .organizarInput {
            display: flex;
            flex-direction: row;
        }

        .inputTarefas {
            background-color: aliceblue;
            max-width: 550px;
            height: 350px;
            margin: 0 auto;
            border-radius: 16px;
            padding: 15px;
            /* centralizando o conteudo  */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


        }

        .button {
            background-color: rgba(128, 255, 0, 0.49);
            border: none;
            padding: 8px;
            border-radius: 8px;
            margin-left: 10px;
            transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .button:hover {
            transform: translateY(-1px) scale(1.02);
            background-color: rgba(128, 255, 0, 0.7);
            box-shadow: 0px 0px 15px rgba(72, 72, 72, 0.5);
        }

        .divNavegacao ul {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            gap: 20px;
            width: 100vw;
            padding: 5px 0px;

        }

        .divNavegacao ul li {
            list-style-type: none;
        }

        .divNavegacao ul li a {
            text-decoration: none;
            color: #ffffff;
            font-size: 18px;
        }

        .divNavegacao ul li a:hover {
            color: rgb(2, 253, 240);
        }

        .card {
            /* background-color: #73f5ea1f; */
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            padding: 20px;

        }

        #lista li {
            list-style-type: none;
            margin: 10px 0px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 19px;
        }

        .listaDeTarefas {
            margin: 20px auto;
            max-width: 300px;
        }

        .listaDeTarefas ul {
            background-color: rgba(0, 255, 89, 0.154);
            padding: 10px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .listaDeTarefas h3 {
            font-size: 2rem ;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #b2b2b279;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            
        }

        .card li {
            list-style-type: none;
        }


        .imgLink {
            border: none;
            box-shadow: 0px 0px 10px rgb(74, 74, 74);
        }

        /* página test 2 */

        .doris {
            border: 3px solid rgb(30, 255, 0);
            max-width: 500px;
            margin: 20px auto;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgb(138, 138, 138);
        }

        .titulo2 {
            color: darkblue;
            font-size: 36px;
            background-color: #9c9c9c;
            border: 1px solid #000;

        }

        .rodriguinho {
            color: aqua;
            font-size: 36px;
            background-color: #9c9c9c;
            border: 1px solid #000;

        }

        .bangu {
            color: red;
            font-size: 36px;
            background-color: #9c9c9c;
            border: 1px solid #000;

        }

        .juliana {
            color: chartreuse;
            font-size: 36px;
            background-color: #9c9c9c;
            border: 1px solid #000;

        }

        .dev_jones {
            color: darkgreen;
            font-size: 36px;
            background-color: #9c9c9c;
            border: 1px solid #000;
        }

        .tagsInline {
            background-color: #b94444;
            padding: 5px 5px;
        }

        .tags_inline {
            background-color: rgb(201, 201, 201);
            padding: 10px 0px;
            border-radius: 4px;
            border: 1px solid #9c9c9c;

        }

        .tags_block {
            display: flex;
            gap: 8px;
            flex-direction: column;
            background-color: rgb(201, 201, 201);
            padding: 5px 0px;
            margin-bottom: 10px;
            border-radius: 4px;
            border: 1px solid #9c9c9c;


        }

        .titulo_block {
            font-size: 40px;
            margin-bottom: 10px;
            text-decoration: underline;

        }

        .titulo_inline {
            font-size: 40px;
            margin-bottom: 10px;
            text-decoration: underline;

        }

        img {
            border: 1px solid red;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgb(54, 54, 54);
        }