* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

body {
    background: url("../img/6938839_3409297.jpg");
}

h1 {
    text-align: center;
    color: #fff;
    margin-top: 50px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 2px 2px rgb(89, 89, 89);
}

.tarefas{
    background-color: antiquewhite;
    max-width: 350px;
    
    margin: 0px auto;
}

#nome {
    text-align: center;
    font-size:36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 30px;
   
}