* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

body {
    background: url("../img/6938839_3409297.jpg");
}

h1 {
    text-align: center;
    color: #fff;
    margin-top: 50px;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 2px 2px rgb(89, 89, 89);
}

.tarefas {
    background-color: antiquewhite;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px rgb(170, 255, 0);
    margin: 20px auto;
    padding: 8px;
}

#nome {
    text-align: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;

}

#resultado {
    
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.resultTarefas {
    background-color: aquamarine;
    box-shadow: 0px 3px 10px rgb(122, 122, 122);
    border-radius: 8px;
    margin: 0px 10px;
    height: 300px;

}