body {
    background-color: rgb(188, 188, 188);
    margin: 16px;
}

.container {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    padding: 8px;
}

header {

    background-color: rgb(188, 188, 188);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 8px;   
}

